<!doctype html>
<html lang="en">
<head>
    <title>{{ datos_encabezado_title | default('Titulo de la aplicación') }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">

    {% block css %}

        {% if configuration_offline == true %}

            {# asset locales #}
            <!-- css custom bootstrap theme -->
            <link rel="stylesheet" href="{{ asset('bundles/stgtheme/css/custom.css' ~ '?version=012020') }}" type="text/css">

            <!-- assets fonts -->
            <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css">

            <style>

                /* fallback */
                {#
                @font-face {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    src: url({{ asset('bundles/stgtheme/assets/material-design-icons/material-design-icons.woff2') }}) format('woff2');
                }
                #}
                @font-face {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    src: url({{ asset('bundles/stgtheme/assets/material-design-icons/MaterialIcons-Regular.eot')}}); /* For IE6-8 */
                    src: local('Material Icons'),
                    local('MaterialIcons-Regular'),
                    url({{ asset('bundles/stgtheme/assets/material-design-icons/MaterialIcons-Regular.woff2') }}) format('woff2'),
                    url({{ asset('bundles/stgtheme/assets/material-design-icons/MaterialIcons-Regular.woff') }}) format('woff'),
                    url({{ asset('bundles/stgtheme/assets/material-design-icons/MaterialIcons-Regular.ttf') }}) format('truetype');
                }

                .material-icons {
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    -moz-font-feature-settings: 'liga';
                    -moz-osx-font-smoothing: grayscale;
                }


            </style>


        {% else %}

            {# assets con cdn externos, algunos externos #}

            <!-- css custom theme -->
            <link rel="stylesheet" href="{{ asset('bundles/stgtheme/css/custom.css' ~ '?version=012020') }}" type="text/css">

            <!-- assets fonts -->
            <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css">

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">

        {% endif %}


    {% endblock %}


</head>
<body>

{% block nav %}
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="#"><img
                    src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                {% block navItems %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                {% endblock %}

            </ul>
            {% block searchTop %}
                <form class="form-inline mt-2 mt-md-0 custom-margin-right">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            {% endblock %}

            {% block iconsSystem %}

                <ul class="list-inline custom-icon-middle">
                    <li class="list-inline-item dropdown">

                        <a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false" title="Notificaciones"><i class="material-icons">info</i></a>

                        <div class="dropdown-menu custom-dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Notificacion 1</a>
                            <a class="dropdown-item" href="#">Notificacion 2</a>
                            <a class="dropdown-item" href="#">Otras notificaciones</a>
                        </div>

                    </li>

                    <li class="list-inline-item">

                        <a href="#" class="dropdown-toggle" id="dropdownMenuLinkPerson" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false" title="Usuario logeado"><i class="material-icons">person</i></a>

                        <div class="dropdown-menu custom-dropdown-menu-right" aria-labelledby="dropdownMenuLinkPerson">
                            <a class="dropdown-item" href="#">Perfil</a>
                            <a class="dropdown-item" href="#">Configuración</a>
                            <a class="dropdown-item" href="#">Acerca de</a>
                        </div>

                    </li>

                    <li class="list-inline-item"><a href="#" title="Salir"><i class="material-icons">exit_to_app</i></a>
                    </li>

                </ul>

            {% endblock %}


        </div>
    </nav>
{% endblock %}

{% block main %}
    <main role="main" class="container">


        <div class="row row-top">

            <div class="col-lg-12">
                <h1>{{ datos_encabezado_title | default('Titulo de la aplicación') }}</h1>

                <p>{{ datos_encabezado_entity | default('Organismo o dependencia') }}</p>

                {% block cover %}
                    <div class="cover">
                    </div>
                {% endblock %}
            </div>

        </div>

        {% block breadcrumb %}
            <div class="row">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        {% block breadcrumbItems %}
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        {% endblock %}
                    </ol>
                </nav>
            </div>
        {% endblock %}

        <div class="row">
            <div class="col-lg-12">
                {% block content %}
                    <div class="card bg-light mb-12">
                        <div class="card-header">Pantalla actual</div>


                        <div class="card-body">

                            <form>


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input type="password" class="form-control" id="inputPassword4"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                           placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Address 2</label>
                                    <input type="text" class="form-control" id="inputAddress2"
                                           placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input type="text" class="form-control" id="inputCity">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState">State</label>
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                </div>

                            </form>
                        </div>

                    </div>

                {% endblock %}
            </div>
        </div>

        {% block backTop %}
            <div class="row">
                <div class="col-12">
                    <p class="float-right">
                        <a href="#"><i class="material-icons">keyboard_arrow_up</i></a>
                    </p>
                </div>
            </div>
        {% endblock %}


    </main>
{% endblock %}

<div class="clearfix"><br></div>

{% block footer %}
	<footer class="footer text-muted">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-12 offset-md-2 col-md-2">
					<div class="sociales">
						<p>
							<a href="/index.php/web/content/view/full/117678">RSS / SUSCRIPCIÓN A NOTICIAS</a>
						</p>
						<ul class="list-inline footer-ul">
							<li class="list-inline-item">
								<a target="_blank" href="http://www.twitter.com/GobSantaFe">
									<i class="icon-footertwitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="http://www.facebook.com/GobSantaFe">
									<i class="icon-footerfacebook"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="http://www.youtube.com/GobSantaFe">
									<i class="icon-footeryoutube"></i>
								</a>
							</li>
						</ul>
					</div>

				</div>

				<div class="col-sm-12 col-md-4">

					<div class="stg-logos" style="text-align:center">
						<img src="https://www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
					</div>


				</div>

				<div class="col-sm-12 col-md-2 contact-data-footer">
					<p>
						Atenci&oacute;n telef&oacute;nica: 0800-777-0801<br/>Lunes a viernes de 8 a 18 hs
					</p>
					<p>
						<span class="cc">c</span>
						Atribución-CompartirIgual 2.5 Argentina</p>

				</div>

			</div>

		</div>
	</footer>
{% endblock %}


{% block javascript %}

    {% if configuration_offline == true %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="{{ asset('bundles/stgtheme/assets/jquery/jquery-3.2.1.slim/jquery-3.2.1.min.js') }}"></script>

        <script src="{{ asset('bundles/stgtheme/assets/popper.js/1.12.3/umd/popper.min.js') }}"></script>

        <script src="{{ asset('bundles/stgtheme/assets/bootstrap/bootstrap-4.0.0-beta.2/js/bootstrap.min.js') }}"></script>


    {% else %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>


    {% endif %}

    {% block ready %}


    {% endblock %}

{% endblock %}

</body>
</html>